@model List<Course>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course List Page</title>
</head>
<body>
    <h1>Course List Page</h1>

    @foreach(var getCourse in Model) {
        <div id="course_@getCourse.Id">
            <h2>@getCourse.Title</h2>
            <p>@getCourse.Description</p>
            <img src="~/img/@getCourse.Image" width="400" height="200" alt="">
        </div>
    }
</body>
</html>