@model Course

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Index Page</title>
</head>
<body>
    <h1>Course Index Page</h1>
    <p>
        ID: @Model.Id
    </p>
    <p>
        Title: @Model.Title
    </p>
    <p>
        Description: @Model.Description
    </p>
</body>
</html>